*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/buildSrc/build
/buildSrc/.gradle
app/build
/captures
.externalNativeBuild
.cxx
local.properties
keystore.properties

core/navigation/build
core/platform/build
core/ui/build

data/database/build
data/database/impl/build
data/network/build
data/network/impl/build
data/preferences/build
data/preferences/impl/build
data/repository/build
data/repository/impl/build

domain/build
domain/impl/build

features/asteroids/build
features/onboarding/build
features/settings/build
features/favorites/build
features/details/build
features/compare/build

# Project exclude paths
/core/ui/build/